.c {
  background: #426f51;
}

.text-primary {
  color: #426f51;
}

.h {
  height: 0.5px;
  background-color: rgb(137, 159, 139);
}

.search {
  width: 50vw;
  max-width: 300px;
}

.searchColor {
  background-color: #a3c1ad;
}

.d {
  background: #ddffe8;
}

.i {
  all: unset;
}

.dot {
  background-color: #426f5115;
}

.four {
  background-color: #426f51b3
}

.six {
  background-color: #426f51e4
}

.out {
  background-color: #d33333a0;
}

.runs {
  background-color: #426f5158;
}

.wd {
  background-color: #e88a1751;
}

.nb {
  background-color: #e88a1790;
}

.bye {
  background-color: #426f5138;
}

.lb {
  background-color: #426f5182;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.hide {
  visibility: hidden;
}